<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">App Name</title>
</head>
<body>
<h2 th:text="${vetHeading}">Main Heading comes from Controller</h2>
<!--<div>-->
<!--    <a target="_parent" href="/">Back to Index</a>-->
<!--</div>-->
<div>
    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <td style="width : 50px">Id</td>
            <td style="width : 100px">First Name</td>
            <td style="width : 100px">Last Name</td>
            <td style="width : 50px">Upcoming Appointments</td>
            <td style="width : 150px">Specialities</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.getId()}"></td>
            <td th:text="${vet.getFirstName()}"></td>
            <td th:text="${vet.getLastName()}"></td>
            <td th:text="${vet.getAppointmentList().size()}"></td>
            <td th:text="${vet.getSpecialitiesAsString()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>


</body>
</html>